---
import type { ButtonType } from '@/types/section-button-types'
import ButtonModel from '@/models/button-model'

interface Props {
  buttonClass?: string
  button: ButtonType
  slug?: string
}

const { buttonClass = '', button, slug = '' }: Props = Astro.props
const buttonModel = new ButtonModel(button)
let url = button.url ? button.url : slug

if (button.buttonPageLink) {
  url = (await buttonModel.getUrl()) || ''
}
---

{
  url && (
    <a
      class={`button bg-secondary text-white hover:border-white hover:bg-white hover:text-primary-700 ${buttonClass}`}
      href={url}
      target={buttonModel.target}
    >
      <slot />
    </a>
  )
}
