---
import type { ButtonType } from '@/types/section-button-types'
import ButtonModel from '@/models/button-model'

interface Props {
  buttonClass?: string
  button: ButtonType
  slug?: string
}

const { buttonClass = '', button, slug = '' }: Props = Astro.props
const buttonModel = new ButtonModel(button)
let url = buttonModel.phoneHref

if (button.buttonPageLink) {
  url = (await buttonModel.getUrl()) || ''
}
---

<a class={buttonClass} href={url} target={buttonModel.target}>
  <slot />
</a>
