/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;0,7..72,400;0,7..72,500;0,7..72,600;0,7..72,700;0,7..72,800;0,7..72,900;1,7..72,200;1,7..72,300;1,7..72,400;1,7..72,500;1,7..72,600;1,7..72,700;1,7..72,800;1,7..72,900&display=swap'); */

@tailwind base;
@tailwind components;

@media screen and (max-width: 768px) {
  .background-image {
    /* Adjust background image properties for smaller screens */
    background-size: contain;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  .on-scroll-form {
    scroll-margin-top: 130px;
  }
}

/*
shared button styles

here in the CSS you define the padding, rounded corners, borders, casing, tracking etc.

the actual bg color,text color and hover colors are defined within the classes of the actual HTML elements
 */

@layer components {
  .button {
    @apply cursor-pointer items-center justify-center rounded-none border-2 border-transparent px-6 py-2 text-base font-medium uppercase tracking-wider shadow-sm transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .button-outlined {
    @apply cursor-pointer items-center justify-center rounded-none border-2 px-6 py-2 text-base font-medium uppercase tracking-wider shadow-sm transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  /*
define different button sizes
button-sm, button-lg, button-xl etc.

you can change the size of the button per breakpoint
class="button button-sm md:button-base xl:button-xl"
*/
  .button-base {
    @apply text-base;
  }

  .button-xs {
    @apply px-3 py-1 text-xs;
  }

  .button-sm {
    @apply px-4 py-1.5 text-sm;
  }

  .button-lg {
    @apply px-6 py-2 text-lg;
  }

  .button-xl {
    @apply px-7 py-3 text-xl;
  }

  .button-2xl {
    @apply px-8 py-2.5 text-2xl;
  }
}

@tailwind utilities;
